@media (min-width:1400px) {
    .col-xxl-2-5 {
        flex:0 0 auto;
        width:20%
    }
}

@media (min-width:1600px) {
    .col-xxxl-2 {
        flex:0 0 auto;
        width:16.66666667%
    }
}

.website-card-status {
    opacity: 0.5;
}

.website-card-titles {
    white-space: nowrap;
    width: 100%;
}

.website-card-titles div {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Color URL ellipsis */ 
.website-card-titles div:first-of-type {
    color: rgb(32, 107, 196)
}

/* Make empty titles take up space by placing an unselectable zero-width space after them */
.website-card-titles div:after {
    content: '\200b';
}

.gallery-card-footer {
    height: 53px;
}

.gallery-card-badges {
    overflow-y: scroll;
    white-space: nowrap;
}