@media (min-width:1400px) {
    .col-xxl-2-5 {
        flex:0 0 auto;
        width:20%
    }
}

@media (min-width:1600px) {
    .col-xxxl-2 {
        flex:0 0 auto;
        width:16.66666667%
    }
}

.a-no-color {
    color: inherit;
}

.dashboard-count-table {
    margin-bottom: 0px !important;
}

.gallery-sort-dropdown-button {
    text-transform: capitalize;
}

.gallery-settings-dropdown-button {
    width: 36px;
}

.gallery-settings-dropdown-button svg {
    margin: 0 !important;
}

.url {
    color: rgb(32, 107, 196)
}

.url-visited {
    color: #7e45b3;
}

.website-card-status {
    opacity: 0.5;
}

.website-card-titles {
    white-space: nowrap;
    width: 100%;
}

.website-card-titles div {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Make empty titles take up space by placing an unselectable zero-width space after them */
.website-card-titles div:after {
    content: '\200b';
}

.website-card-screenshot {
    width: 100%;
    aspect-ratio: 1440/900;
}

.website-card-footer {
    height: 53px;
}

.website-card-badges {
    overflow-y: scroll;
    white-space: nowrap;
}

.website-card-badge-icon {
    width: 12px !important;
    height: 12px !important;
}