{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Home
        </div>
        <h2 class="page-title">
          Statistics Dashboard
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">

      <div class="col-12">
        <div class="row row-cards">
          {{/* Processed URLs and SQLite Database Size */}}
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-blue text-white avatar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-viewport-wide"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 12h-7l3 -3m0 6l-3 -3"></path>
                        <path d="M14 12h7l-3 -3m0 6l3 -3"></path>
                        <path d="M3 6v-3h18v3"></path>
                        <path d="M3 18v3h18v-3"></path>
                      </svg>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{ .URLCount }} Processed URLs
                    </div>
                    <div class="text-muted">
                      {{ .DBSzie }} MB SQLite Database Size
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{/* Certificates and DNS Names */}}
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-green text-white avatar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-certificate"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                        <path d="M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5"></path>
                        <circle cx="6" cy="14" r="3"></circle>
                        <path d="M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5"></path>
                      </svg>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{ .CertCount }} Certificates
                    </div>
                    <div class="text-muted">
                      {{ .DNSNameCount }} DNS Names
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{/* Headers */}}
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-cyan text-white avatar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-navbar"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                        <line x1="4" y1="9" x2="20" y2="9"></line>
                      </svg>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{ .HeaderCount }} Headers
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{/* Unique Technologies */}}
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-indigo text-white avatar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 12h-1v5h1"></path>
                        <path d="M14 12h1v5h-1"></path>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                      </svg>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{ .TechCount }} Unique Technologies
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{/* Tags */}}
          {{ if ge .TagCount 1 }}
            <div class="col-sm-6 col-lg-3">
              <div class="card card-sm">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="bg-pink text-white avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                          <path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"></path>
                        </svg>
                      </span>
                    </div>
                    <div class="col">
                      <div class="font-weight-medium">
                        {{ .TagCount }} Tag{{if not (eq .TagCount 1)}}s{{end}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="align-items-center">
                    <div class="col-auto">
                      <!-- <span class="hidden text-white avatar">
                        
                      </span> -->
                    </div>
                    <div class="col">
                      <div class="font-weight-medium">
                        <table class="table table-sm table-borderless dashboard-count-table">
                          <thead>
                            <tr>
                              <th>Tag</th>
                              <th class="text-end">Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{ range .Tags }}
                              <tr>
                                <td>
                                  <div class="progressbg">
                                    <div class="progress progressbg-progress">
                                      <div class="progress-bar bg-pink-lt" style="width: {{ percentage .Count $.MaxTagCount }}%" role="progressbar"></div>
                                    </div>
                                    <div class="progressbg-text"><a href="{{ URL "/gallery" }}?tag={{ .Tag }}" class="a-no-color">{{ .Tag }}</a></div>
                                  </div>
                                </td>
                                <td class="w-1 fw-bold text-end">{{ .Count }}
                                </td>
                              </tr>
                            {{ end }}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</div>

{{ template "footer" . }}