{{ template "header" . }}

<!-- chocolat.js image lightboxes -->
<script src='{{ URL "/assets/js/chocolat.js" }}'></script>
<link href='{{ URL "/assets/css/chocolat.css" }}' rel="stylesheet" />

<!-- Initialize chocolat.js -->
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
      Chocolat(document.querySelectorAll('.chocolat-image'))
  })
</script>

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          {{ .Data.Count }}
          {{ if (eq .Query "") }}
            URLs
          {{ else }}
            results
          {{ end }}
        </div>
        <h2 class="page-title">
          Gallery
          {{ if (ne .Query "" ) }}
          - searching for "{{ .Query }}"
          {{ end }}
        </h2>
      </div>

      <!-- Page title actions -->
      <div class="col-12 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
          {{/* Tag filter */}}
          <form action='{{ URL "/gallery" }}' method="get" style="max-width: 160px">
            <div class="input-icon">
              <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"></path>
                </svg>
              </span>
              <input type="hidden" value="{{ .Query }}" name="q">
              <input type="text" value="{{ .Tag }}" class="form-control" placeholder="Filter by tag…" name="tag" aria-label="Search">
            </div>
          </form>

          {{/* Search box */}}
          <form action='{{ URL "/gallery" }}' method="get">
            <div class="input-icon">
              <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <circle cx="10" cy="10" r="7" />
                  <line x1="21" y1="21" x2="15" y2="15" />
                </svg>
              </span>
              <input type="hidden" value="{{ .Tag }}" name="tag">
              <input type="text" value="{{ .Query }}" class="form-control" placeholder="Search…" name="q" aria-label="Search">
            </div>
          </form>
                
          {{ if .Data.Ordered }}
          <a href='{{ URL "/gallery" }}?perception_sort=false&limit={{ .Data.Limit }}&page={{ .Data.Page }}'
            class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sort-ascending-2" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M14 9l3 -3l3 3"></path>
              <rect x="5" y="5" width="5" height="5" rx=".5"></rect>
              <rect x="5" y="14" width="5" height="5" rx=".5"></rect>
              <path d="M17 6v12"></path>
            </svg>
            Disable Perception Sort
          </a>
          {{ else }}
          <a href='{{ URL "/gallery" }}?perception_sort=true&limit={{ .Data.Limit }}&page={{ .Data.Page }}'
            class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sort-descending-2" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <rect x="5" y="5" width="5" height="5" rx=".5"></rect>
              <rect x="5" y="14" width="5" height="5" rx=".5"></rect>
              <path d="M14 15l3 3l3 -3"></path>
              <path d="M17 18v-12"></path>
            </svg>
            Enable Perception Sort
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">

      {{ $length := len .Data.Records }}
      {{ if eq $length 0 }}
        {{/* Display error if no screenshots are found */}}
        <div class="container-xl d-flex flex-column justify-content-center">
          <div class="empty">
            <p class="empty-title h3">No results found</p>
          </div>
        </div>
      {{ else }}
        {{/* Render each card */}}
        {{ range .Data.Records}}
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2-5 col-xxxl-2">
            {{ template "website-card" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>

    <hr>


    <!-- pager -->
    <div class="d-flex">
      <div class="btn-group ms-auto">
        <!-- previous -->
        <a href='{{ URL "/gallery" }}?{{ if .Data.Ordered }}perception_sort=true&{{ end }}limit={{ .Data.Limit }}&page={{ .Data.PrevPage }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}'
            tabindex="-1" {{ if le .Data.Page 1 }}aria-disabled="true" {{ end }}
            class="btn btn-outline-primary d-none d-sm-inline-block {{ if le .Data.Page 1 }}disabled{{ end }}"
            style="border-right: 0px;">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <polyline points="15 6 9 12 15 18"></polyline>
          </svg>
          Previous
        </a>
        
        <select class="form-select" style="border-radius: 0px; border-color: #206bc4;" onChange="window.location.href = '{{ URL "/gallery" }}?{{ if $.Data.Ordered }}perception_sort=true&{{ end }}limit={{ $.Data.Limit }}&page=' + this.value + '{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}'">
          <!-- previous links -->
          {{ range $p := .Data.PrevPageRange }}
            <option value="{{ $p }}">
              {{ $p }}
            </option>
          {{ end }}

          <!-- current page -->
          <option selected>{{ .Data.Page }}</option>
          
          <!-- next page range -->
          {{ range $p := .Data.NextPageRange }}
            <option value="{{ $p }}">
              {{ $p }}
            </option>
          {{ end }}
        </select>

        <!-- next -->
        <a href='{{ URL "/gallery" }}?{{ if .Data.Ordered }}perception_sort=true&{{ end }}limit={{ .Data.Limit }}&page={{ .Data.NextPage }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}'
          class="btn btn-outline-primary d-none d-sm-inline-block {{ if eq (len .Data.NextPageRange) 0 }}disabled{{ end }}"
          style="border-left: 0px;">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <polyline points="9 6 15 12 9 18"></polyline>
          </svg>
          Next
        </a>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}