{{ template "header" . }}

<!-- chocolat.js image lightboxes -->
<script src='{{ URL "/assets/js/chocolat.js" }}'></script>
<link href='{{ URL "/assets/css/chocolat.css" }}' rel="stylesheet" />

<!-- Initialize chocolat.js -->
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
      Chocolat(document.querySelectorAll('.chocolat-image'))
  })
</script>

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          {{ .Data.Count }}
          {{ if (eq .Query "") }}
            URLs
          {{ else }}
            results
          {{ end }}
        </div>
        <h2 class="page-title">
          Gallery
          {{ if (ne .Query "" ) }}
          - searching for "{{ .Query }}"
          {{ end }}
        </h2>
      </div>

      <!-- Page title actions -->
      <div class="col-12 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
          {{/* Search box */}}
          <form action='{{ URL "/gallery" }}' method="get">
            <div class="input-icon">
              <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <circle cx="10" cy="10" r="7" />
                  <line x1="21" y1="21" x2="15" y2="15" />
                </svg>
              </span>
              {{ if .Tag }}<input type="hidden" value="{{ .Tag }}" name="tag">{{ end }}
              <input type="text" value="{{ .Query }}" class="form-control" placeholder="Search…" name="q" aria-label="Search">
              {{ if .Sort }}<input type="hidden" value="{{ .Sort }}" name="sort">{{ end }}
            </div>
          </form>

          {{/* Tag filter */}}
          {{ if or (ge .TagCount 1) (.Tag) }}
            <button type="button" class="btn dropdown-toggle {{ if .Tag }}bg-pink-lt{{ end }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"></path>
              </svg>
              {{ if .Tag }}
                {{ .Tag }} ({{ .CurrentTagCount }})
              {{ else }}
                Filter by tag...
              {{ end }}
            </button>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Filter by tag...</h6>
              <a class="dropdown-item" href="{{ URL "/gallery" }}?limit={{ .Data.Limit }}&page={{ .Data.Page }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Sort }}&sort={{ .Sort }}{{ end }}{{ if .HideDuplicates}}&hide_duplicates=1{{end}}">
                None
              </a>
              {{ range .Tags }}
                <a class="dropdown-item" href="{{ URL "/gallery" }}?limit={{ $.Data.Limit }}&page={{ $.Data.Page }}{{ if $.Query }}&q={{ $.Query }}{{ end }}&tag={{ .Tag }}{{ if $.Sort }}&sort={{ $.Sort }}{{ end }}{{ if $.HideDuplicates}}&hide_duplicates=1{{end}}">
                  {{ .Tag }} ({{ .Count }})
                </a>
              {{ end }}
            </div>
          {{ end }}
          
          {{/* Sort */}}
          <button type="button" class="btn dropdown-toggle gallery-sort-dropdown-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sort-descending-2" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <rect x="5" y="5" width="5" height="5" rx=".5"></rect>
              <rect x="5" y="14" width="5" height="5" rx=".5"></rect>
              <path d="M14 15l3 3l3 -3"></path>
              <path d="M17 18v-12"></path>
            </svg>
            {{ if .Sort }}
              {{ .Sort }}
            {{ else }}
              time
            {{ end }}
          </button>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Sort by...</h6>
            <a class="dropdown-item" href="{{ URL "/gallery" }}?limit={{ .Data.Limit }}&page={{ .Data.Page }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}{{ if .HideDuplicates}}&hide_duplicates=1{{end}}">
              Time
            </a>
            <a class="dropdown-item" href="{{ URL "/gallery" }}?limit={{ .Data.Limit }}&page={{ .Data.Page }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}&sort=perception{{ if .HideDuplicates}}&hide_duplicates=1{{end}}">
              Perception
            </a>
            <a class="dropdown-item" href="{{ URL "/gallery" }}?limit={{ .Data.Limit }}&page={{ .Data.Page }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}&sort=alphabetic{{ if .HideDuplicates}}&hide_duplicates=1{{end}}">
              Alphabetic
            </a>
          </div>

          {{/* Filtering settings */}}
          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
              <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
            </svg>
          </button>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Settings</h6>
            <label class="dropdown-item"><input class="form-check-input m-0 me-2" onclick="window.location.href='{{ URL "/gallery" }}?limit={{ .Data.Limit }}&page={{ .Data.Page }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}{{ if .Sort }}&sort={{ .Sort }}{{ end }}{{ if not .HideDuplicates}}&hide_duplicates=1{{end}}' "type="checkbox" {{ if .HideDuplicates }}checked{{ end }}>Hide duplicates</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">

      {{ $length := len .Data.Records }}
      {{ if eq $length 0 }}
        {{/* Display error if no screenshots are found */}}
        <div class="container-xl d-flex flex-column justify-content-center">
          <div class="empty">
            <p class="empty-title h3">No results found</p>
          </div>
        </div>
      {{ else }}
        {{/* Render each card */}}
        {{ range .Data.Records}}
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2-5 col-xxxl-2">
            {{ template "website-card" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>

    <hr>


    <!-- pager -->
    <div class="d-flex">
      <div class="btn-group ms-auto">
        <!-- previous -->
        <a href='{{ URL "/gallery" }}?limit={{ .Data.Limit }}&page={{ .Data.PrevPage }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}{{ if .Sort }}&sort={{ .Sort }}{{ end }}{{ if .HideDuplicates}}&hide_duplicates=1{{end}}'
            tabindex="-1" {{ if le .Data.Page 1 }}aria-disabled="true" {{ end }}
            class="btn btn-outline-primary d-none d-sm-inline-block {{ if le .Data.Page 1 }}disabled{{ end }}"
            style="border-right: 0px;">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <polyline points="15 6 9 12 15 18"></polyline>
          </svg>
          Previous
        </a>
        
        <select class="form-select" style="border-radius: 0px; border-color: #206bc4;" onChange="window.location.href = '{{ URL "/gallery" }}?limit={{ $.Data.Limit }}&page=' + this.value + '{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}{{ if .Sort }}&sort={{ .Sort }}{{ end }}{{ if .HideDuplicates}}&hide_duplicates=1{{end}}'">
          <!-- previous links -->
          {{ range $p := .Data.PrevPageRange }}
            <option value="{{ $p }}">
              {{ $p }}
            </option>
          {{ end }}

          <!-- current page -->
          <option selected>{{ .Data.Page }}</option>
          
          <!-- next page range -->
          {{ range $p := .Data.NextPageRange }}
            <option value="{{ $p }}">
              {{ $p }}
            </option>
          {{ end }}
        </select>

        <!-- next -->
        <a href='{{ URL "/gallery" }}?limit={{ .Data.Limit }}&page={{ .Data.NextPage }}{{ if .Query }}&q={{ .Query }}{{ end }}{{ if .Tag }}&tag={{ .Tag }}{{ end }}{{ if .Sort }}&sort={{ .Sort }}{{ end }}{{ if .HideDuplicates}}&hide_duplicates=1{{end}}'
          class="btn btn-outline-primary d-none d-sm-inline-block {{ if eq (len .Data.NextPageRange) 0 }}disabled{{ end }}"
          style="border-left: 0px;">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <polyline points="9 6 15 12 9 18"></polyline>
          </svg>
          Next
        </a>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}